#

version: "2.1"
services:
  haproxy-system:
    image: haproxy
    tty: true
    volumes:
      - sockets:/var/run/haproxy

  haproxy-client:
    image: ctrl-haproxy
    environment:
      CTRL_MODULES: ctrl.core,ctrl.command,ctrl.haproxy
    volumes:
      - sockets:/var/run/haproxy

  haproxy-dev-client:
    extends: haproxy-client
    environment:
      DEV_EGGS: src/*/
    volumes:
      - ..:/app/ctrlsys/src/ctrl.haproxy

volumes:
  haproxy:
  sockets:
