# https://travis-ci.org/#!/phlax/ctrl.haproxy

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

install:
  - cat .docker
  - make image
  - docker pull haproxy

script:
  - HAPROXY_CTRL="docker-compose run haproxy-client run_shell ctrl haproxy"
  - cd example
  - docker-compose up -d haproxy-server
